.npm-stats .select-menu-modal dl {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	height: 40px;
}

.npm-stats .select-menu-modal dl dt {
	font-weight: bold;
}

.npm-stats a svg {
	vertical-align: middle;
}

.npm-stats .select-menu-modal {
	width: 450px;
	left: auto;
	z-index: 9999;
	right: 0;
	margin-top: 8px !important;
	animation: SelectMenu-modal-animation 0.12s cubic-bezier(0, 0.1, 0.1, 1)
		backwards;
}

.npm-stats .select-menu-content {
	padding: 0 1rem 1rem 1rem;
}

.npm-stats #npm-stats-refresh:disabled {
	outline: none;
}
